@mixin hidden {
	display: none;
	visibility: hidden;
}

// MIXIN flexie je združen flexbox, flex-flow justif-content, align-items
//  - flex-flow: <direction: [row] | column> & <wrap: [nowrap] | wrap>
//  - justify-content: [flex-start] | flex-end | center | space-between | space-around
//  - align-items: [stretch] | flex-start | flex-end | center | baseline
@mixin flexie($flow, $justify, $align) {
	display: flex;
	flex-flow: $flow;
	justify-content: $justify;
	align-items: $align;
}
